body {
    background-color: #eee
}

.card {
    border: none;
    border-radius: 10px
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}

.badge-success span {
    background-color: #9dfe5d9f;
    color: #1ac030;
}

.badge-danger span {
    background-color: #fe8b5db7;
    color: #fd4242;
}

#result {
    display: none;
}